 

.links {
    text-align: center;
}

.header {
    text-align: center;
    color:aquamarine
}

#soon {
     margin-left: 0.5cm;
}

.cow {
    background-color: chocolate;
    
}



a {
    color: aliceblue;
}
