
body {
    background-color: black;
    color: white
}

h1 {
    text-align-last: center;
}

a {
    color: aliceblue;
    
}

.mid {
    text-align: center;
}

.list {
    margin-left: 0.5cm;
}



#home {
    color: aqua
}
